Repository rfennell/AzurePipelines, pull requests merged in 2018-06, with the labels that each got.

#314 Remove extra functionality for handling module versions -fixes #312
  Extensions/Pester/readme.md
  Extensions/Pester/task/Pester.ps1
  Extensions/Pester/task/task.json
  Extensions/Pester/test/PesterTask/Pester.Tests.ps1
Labels: Pester

#338 Add task and tests for Version PowerShell Module task.
  Extensions/Versioning/VersionPowerShellModule/src/1.3.0/Configuration.psm1
  Extensions/Versioning/VersionPowerShellModule/src/1.3.0/Metadata.psm1
  Extensions/Versioning/VersionPowerShellModule/src/1.3.0/configuration.psd1
  Extensions/Versioning/VersionPowerShellModule/src/1.3.0/en-US/about_configuration.help.txt
  Extensions/Versioning/VersionPowerShellModule/src/Update-PowerShellModuleVersion.ps1
  Extensions/Versioning/VersionPowerShellModule/src/icon.png
  Extensions/Versioning/VersionPowerShellModule/src/task.json
  Extensions/Versioning/VersionPowerShellModule/test/Update-PowerShellModuleVersion.Tests.ps1
  Extensions/Versioning/readme.md
  Extensions/Versioning/vss-extension.json
Labels: Versioning, enhancement

#340 Added additional logging to VersionDotNetCoreAssembliesTask because it was logging the fact the csproj file had the version applied when it hasn't because addDefault is false by default.
  Extensions/Versioning/VersionDotNetCoreAssembliesTask/src/AppyVersionToAssembliesFunctions.ts
  Extensions/Versioning/readme.md
Labels: Versioning
