Repository rfennell/AzurePipelines, pull requests merged in 2018-04, with the labels that each got.

#285 Adds additionalModulePath and CodeCoverageFolder to Pester Task
  Extensions/Pester/readme.md
  Extensions/Pester/task/Pester.ps1
  Extensions/Pester/task/task.json
  Extensions/Pester/test/PesterTask/Pester.Tests.ps1
Labels: Pester, enhancement

#305 Major refactor
  .gitignore
  .vscode/launch.json
  Extensions/XplatGenerateReleaseNotes/BuildNotes.md
  Extensions/XplatGenerateReleaseNotes/V1/GenerateReleaseNotes.ts
  Extensions/XplatGenerateReleaseNotes/V1/ReleaseNotesFunctions.ts
  Extensions/XplatGenerateReleaseNotes/V1/agentSpecific.ts
  Extensions/XplatGenerateReleaseNotes/V1/icon.png
  Extensions/XplatGenerateReleaseNotes/V1/package-lock.json
  Extensions/XplatGenerateReleaseNotes/V1/package.json
  Extensions/XplatGenerateReleaseNotes/V1/task.json
  Extensions/XplatGenerateReleaseNotes/V1/test/test.ts
  Extensions/XplatGenerateReleaseNotes/V1/tsconfig.json
  Extensions/XplatGenerateReleaseNotes/V1/tslint.json
  Extensions/XplatGenerateReleaseNotes/V1/typings.json
  Extensions/XplatGenerateReleaseNotes/V2/GenerateReleaseNotes.ts
  Extensions/XplatGenerateReleaseNotes/V2/ReleaseNotesFunctions.ts
  Extensions/XplatGenerateReleaseNotes/V2/agentSpecific.ts
  Extensions/XplatGenerateReleaseNotes/V2/icon.png
  Extensions/XplatGenerateReleaseNotes/V2/package-lock.json
  Extensions/XplatGenerateReleaseNotes/V2/package.json
  Extensions/XplatGenerateReleaseNotes/V2/task.json
  Extensions/XplatGenerateReleaseNotes/V2/test/test-noaccesstoken.ts
  Extensions/XplatGenerateReleaseNotes/V2/test/testsuite.ts
  Extensions/XplatGenerateReleaseNotes/V2/tsconfig.json
  Extensions/XplatGenerateReleaseNotes/V2/tslint.json
  Extensions/XplatGenerateReleaseNotes/V2/typings.json
  Extensions/XplatGenerateReleaseNotes/icon.png
  Extensions/XplatGenerateReleaseNotes/make-util.js
  Extensions/XplatGenerateReleaseNotes/make.js
  Extensions/XplatGenerateReleaseNotes/package-lock.json
  Extensions/XplatGenerateReleaseNotes/package.json
  Extensions/XplatGenerateReleaseNotes/readme.md
  Extensions/XplatGenerateReleaseNotes/tsconfig.json
  Extensions/XplatGenerateReleaseNotes/vss-extension.json
  SampleTemplates/XplatGenerateReleaseNotes (Node based)/Version 1/release-basic-git-template.md
  SampleTemplates/XplatGenerateReleaseNotes (Node based)/Version 1/release-basic-tfvc-template.md
  SampleTemplates/XplatGenerateReleaseNotes (Node based)/Version 2/release-basic-template.md
Labels: GenerateReleaseNotes (XPlat version), enhancement

#316 Fix parameter name
  Extensions/XplatGenerateReleaseNotes/V2/GenerateReleaseNotes.ts
  Extensions/XplatGenerateReleaseNotes/readme.md
Labels: GenerateReleaseNotes (XPlat version)
